/* Use these for custom css for page */
body {
    background-color: #ffffff;
    width: 350;
    height: 400;
}

button {
    font-family: monospace;
    font-weight: bold;
    font-size: 200%;
}

input {
    font-family: monospace;
}

button {
    font-family: monospace;
    font-weight: bold;
    font-size: 200%;
}

.input-group-text {
    font-family: monospace;
}