/* Use these for custom css for page */

div {
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    background-color: #2596be;
    flex-wrap: wrap;
    transition-duration: 0.7s;
    align-items: center;
}

form {
    height: 10%;
}

button {
    background-color: #918d97;
    padding: 5px;
    align-items: center;
}

span {
    font-family: monospace;
    font-weight: bold;
    color: white;
    font-size: 40px;
    text-shadow: 0px 0px 5px black;
    transition-duration: 0.3s;
}

#name {
    font-size: 40px;
    max-width: 100%;
}

#sign_out {
    position: fixed;
    background-color: #e5eb9e;
    bottom: 5px;
    left: 5px;
    padding: 2px;
}
